* {
    font-family: 'Pangolin', cursive;
    color: blueviolet;
}

body {
    background-color: cadetblue;
}

.mainSection{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "button sketch"
    "button sketch";
    justify-content: center;
    gap: 1rem;
}

.mainHeader {
    grid-area: header;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.gridContainer{
    border-style: solid;
    border-color: rgb(178, 207, 211);
    grid-area: sketch;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.gridCell{
    background-color: white;
}

button {
    background-color: #dae4e5;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: large;
}

button:hover {
    transform: scale(1.1);
    filter: brightness(108%);
}

button:active {
    filter: brightness(90%);
    transform: scale(1.0);
}

.buttons {
    display: flex;
    flex-direction: column;
    grid-area: button;
    gap: 20px;
}