body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.gridContainer{
    width: 480px;
    height: 380px;
}

.grid{
    background-color: white;
    color: white;
    min-width: 30px;
    min-height: 30px;
    float: left;
}

.gridMouseOver {
    background-color: black;
    color: black;
}