* {
    font-family: 'Pangolin', cursive;
    color: #8a2be2;
}

body {
    background-color: cadetblue;
}

.mainSection{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "button sketch"
    "button sketch"
    "slider slider"
    "footer footer";
    justify-content: center;
    gap: 1rem;
}

.mainHeader {
    grid-area: header;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.gridContainer{
    border-style: solid;
    border-color: rgb(178, 207, 211);
    grid-area: sketch;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.gridCell{
    background-color: white;
}

button {
    background-color: #dae4e5;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: large;
}

button:hover {
    transform: scale(1.1);
    filter: brightness(108%);
}

button:active {
    filter: brightness(90%);
    transform: scale(1.0);
}

.activeButton {
    color: #dae4e5;
    background-color: blueviolet;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    grid-area: button;
    gap: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}

#github {
    height: 20px;
    width: 20px;
    vertical-align: text-top;
    margin-left: 2px;
    transition: transform 999s;
    filter: invert(24%) sepia(67%) saturate(5698%) hue-rotate(266deg) brightness(90%) contrast(96%);
}

#github:active {
    transform: rotate(-80deg);
    transition: 0.2s;
    margin-left: 0px;
}

#colorSelector {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 10px;
}

#colorSelector:hover {
    transform: scale(1.2);
}

.slideContainer {
    grid-area: slider;
    display: flex;
    justify-content: flex-end;
}

.gridOutput {
    width: 90px;
    font-size: 20px;
}

#gridSizeSlider {
    grid-area: footer;
    width: 400px;
    accent-color: #8a2be2;
}

input::-webkit-color-swatch {
    border: none;
}